@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

@import "tailwindcss";

body {
	background-color: #fff;
	color: #111;
	font-family: "JetBrains Mono", monospace;
	line-height: 1.75;
}

h1,
h2,
h3 {
	font-weight: 700;
	letter-spacing: -0.02em;
}

p {
	margin-bottom: 1.75rem;
}

a {
	text-decoration: underline;
	text-underline-offset: 4px;
	transition: all 0.2s;
	color: #000;
}

a:hover {
	background-color: #000;
	color: #fff;
	text-decoration: none;
}

input[type="range"] {
	height: 6px;
	-webkit-appearance: none;
	width: 100%;
	background: transparent;
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 16px;
	width: 16px;
	border-radius: 50%;
	background: #000000;
	cursor: pointer;
	margin-top: -6px;
}

input[type="range"]::-webkit-slider-runnable-track {
	width: 100%;
	height: 4px;
	cursor: pointer;
	background: #e5e7eb;
	border-radius: 2px;
}

input[type="text"],
input[type="number"] {
	border-radius: 0;
}
